body{
    margin: 20px;
    padding: 0;
}


h2{
    margin: 15px;
}
.weather-app{
    border: 1px solid #8f8e8e;
    border-radius: 5px;
    max-width: 600px;
    padding: 15px;
    margin: 20px auto;
    background-color: rgb(51, 168, 236);
}
ul li{
    list-style: none;
}
.row2{
    margin: 15px;
}
.temperature{
    font-size: 30px;
    font-family: bold;
    margin: 13px;
}
.units{
    position: relative;
    top: -10px;
}
.open-source{
    margin: 0 16rem;
}